* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}

body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100vw;
    height: 100vh;
    opacity: .3;
    z-index: 1;
}